.conteiner__cabecalho__menu {
    width: 3rem;
    height: 3rem;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco_principal);
    position: relative;
}

.conteiner__cabecalho__direito, .conteiner__cabecalho__esquerdo {
    display: flex;
    align-items: center;
    padding: 1em;
}

.conteiner__cabecalho__direito {
    gap: 1rem;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner__botao:checked ~ .lista__menu{
    display: block;
}

.lista__menu__titulo, .lista__menu_link {
    padding: 1rem;
    background-color: var(--branco_principal);
}

.lista__menu__titulo {
    color: var(--laranja_secundario);
    font-weight: 700;
}

.lista__menu__link:hover {
    background-color: var(--cinza_secundario);
}

.texto__menu {
    background: var(--azul_principal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.conteiner__botao {
    display: none;
}

.logo__titulo,
.opcoes,
.descricao__esquerdo__item {
    display: none;
}

@media screen and (min-width: 1024px) {
    .conteiner__transparente,
    .conteiner__cabecalho__menu {
        display: none;
    }

    .logo__titulo, .negrito__titulo {
        font-family: var(--font_secundaria);
        font-size: 1.8rem;
    }

    .negrito__titulo {
        font-weight: 700;
    }

    .logo__titulo {
        font-weight: 400;
        display: block;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__item__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked ~ .lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .descricao__esquerdo__item {
        display: block;
    }

    .conteiner__link {
        display: flex;
        align-items: center;
        padding-right: 3em;
        text-decoration: none;
        color: var(--preto);
        font-size: 1.2rem;
    }

    .opcoes {
        margin-right: auto;
    }
}