.fim__da__pagina {
    text-align: left;
    background-color: var(--branco_principal);
    color: var(--azul_semlinear);
    padding: 2.5em 2em;
}

.fim__titulo{
    font-weight: 500;
    font-size: 18px;
}

.fim__texto{
    font-weight: 300;
    padding: 1em 0 1em 0;
}

.fim__cadastro {
    background-color: transparent;
    color: var(--azul_semlinear);
    border: 2px solid var(--azul_semlinear);
    border-radius: 1.5rem;
    padding: 1em;
    width: 100%;
}

.fim__cadastro::placeholder {
    font-family: var(--font_principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--azul_semlinear);
    background: url(../img/Email.svg) no-repeat;
}

.topico{
    background: var(--azul_principal);
    padding: 1em;
}

.topico__texto {
    color: var(--branco_principal);
    font-weight: 300;
    padding-bottom: 1em;
    text-align: center;
    padding: 1em;
}

.botoes__topicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes__topicos__links {
    background-color: var(--laranja_secundario);
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    justify-content: center;
}

.topico__item {
    text-decoration: none;
    color: var(--branco_principal);
}

.rodape {
    padding: 1.5em;
    border-top: 1px solid var(--preto);
}